*{
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #494949;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #888888;
    width: 25%;
    margin-top: 3%;
    border-radius: 10px;
    border: 2px solid black;
}

.output {
    background-color: #434343;
    margin: 4% 4%;
    height: 100px;
    border-radius: 10px;
    justify-content: end;
    border: #2f2f2f 2px solid;
}

/*
    a0
*/

.a0{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.number{
    padding: 9%;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
    font-size: 28px;
    border: none;
    color: white;
}

button.number:hover{
    padding: 9%; 
    background-color: rgb(40,40,40); 
    border-radius: 10px; 
    cursor: pointer;
    font-size: 28px;
    border: none;
    color: white;
}

.operators{
    padding: 9%;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    font-size: 28px;
    border: none;
    color: white;
}

button.operators:hover{
    padding: 9%; 
    background-color: rgb(25,25,25); 
    border-radius: 10px; 
    cursor: pointer;
    font-size: 28px;
    border: none;
    color: white;
}

.decimal{
    padding: 9%;
    background-color: rgb(40,40,40);
    border-radius: 10px;
    font-size: 28px;
    border: none;
    color: white;
}

button.decimal:hover{
    padding: 9%; 
    background-color: rgb(25,25,25); 
    border-radius: 10px; 
    cursor: pointer;
    font-size: 28px;
    border: none;
    color: white;
}

.equal{
    padding: 9%;
    background-color: rgb(40,40,40);
    border-radius: 10px;
    font-size: 28px;
    border: none;
    color: white;
}

button.equal:hover{
    padding: 9%; 
    background-color: rgb(25, 25, 25); 
    border-radius: 10px; 
    cursor: pointer;
    font-size: 28px;
    border: none;
    color: white;
}

.clear{
    padding: 5%;
    background-color: rgb(40,40,40);
    border-radius: 10px;
    font-size: 20px;
    border: none;
    color: white;
}

button.clear:hover{    
    padding: 5%; 
    background-color: rgb(25,25,25); 
    border-radius: 10px; 
    font-size: 20px;
    cursor: pointer;
    border: none;
    color: white;
}

.previousNumber{
    text-align: end;
    padding-right: 3%;
    padding-top: 3%;
}

.currrentNumber{
    text-align: end;
    padding-right: 3%;
    font-size: 35px;
}

.delete{
    padding: 5%;
    background-color: rgb(40,40,40);
    border-radius: 10px;
    font-size: 20px;
    border: none;
    color: white;
}

button.delete:hover{    
    padding: 5%; 
    background-color: rgb(25,25,25); 
    border-radius: 10px; 
    cursor: pointer;
    font-size: 20px;
    border: none;
    color: white;
}

.b0{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.c0{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.d0{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.e0{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}